<table  class="table">
  <caption >书单: <%= @order.id %> 
   | 状态: <%= @order.status %>
  </caption>
  <thread>
    <tr>
      <th>借书编号</th>
      <th>书名</th>
      <th>上传者</th> 
      <th>操作</th>
    </tr>
  </thread>
  <tbody id="show_items">
    <% if @order.status == "UnAdded" %>
       <%= render @order.items %>
    <% else %>
      <% @order.items.each do |item| %>
        <tr class="active">
        <td> <%= link_to "#{item.id}", item %> </td>
        <td> <%= item.product_name %> </td>
        <td> <%= item.product.buyer.name %> </td>
       
        <% if item.commentable == true %>
          <td> <%= link_to "评论并归还", item, class: "btn btn-default btn-sm" %> </td>
        <% else %>
          <td> <%= link_to "查看图书信息", item, class: "btn btn-default btn-sm" %> </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table> 

<div>
	<% if @order.status == 'UnAdded' %>
		<% if @order.items.count > 0 %>
  			<div>
  				<span> 
              <%= link_to "提交书单", new_payment_path, class: "btn btn-primary btn-sm" %>
          </span>
  			  <span>
  				    <%= link_to "继续借阅", root_url, class: "btn btn-primary btn-sm"%>
  			   </span>
        </div>
  		<% else %>
  			<div>
  				<%= link_to "继续借阅", root_url, class: "btn btn-primary btn-sm" %>
  			</div>
  		<% end %>
	<% end %>
</div>
